<div class="form-group">
    <div class="col-md-12 control">
        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
           Vous n'êtes pas encore inscrit?&nbsp;&nbsp;
            <a href="{{ path('fos_user_registration_register') }}" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                Inscrivez-vous ici
            </a>
        </div>
    </div>
</div>